body{
font-family:Arial;
text-align:center;
background:#f4f6f8;
}

h1{
color:#1a73e8;
}

select,button{
padding:10px;
margin:10px;
font-size:16px;
border-radius:8px;
}

#info{
background:white;
padding:15px;
margin:20px;
border-radius:10px;
width:60%;
margin:auto;
box-shadow:0px 0px 10px gray;
}